@import "resources/sass/vars/color";

.button {
    border: 0;
    background: $mainGreen;
    border-radius: 7px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    height: 60px;
    padding: 0 50px;
    text-align: center;
    transition: 200ms all;
    cursor: pointer;
    text-transform: uppercase;
    &:hover {
        background: $mainGreenHover;
    }
}
