@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('/fonts/Gilroy/regular/Gilroy-Regular.woff2') format('woff2'),
    url('/fonts/Gilroy/regular/Gilroy-Regular.woff') format('woff'),
    url('/fonts/Gilroy/regular/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
    url('/fonts/Gilroy/medium/Gilroy-Medium.woff2') format('woff2'),
    url('/fonts/Gilroy/medium/Gilroy-Medium.woff') format('woff'),
    url('/fonts/Gilroy/medium/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
    url('/fonts/Gilroy/semibold/Gilroy-Semibold.woff2') format('woff2'),
    url('/fonts/Gilroy/semibold/Gilroy-Semibold.woff') format('woff'),
    url('/fonts/Gilroy/semibold/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('/fonts/Gilroy/bold/Gilroy-Bold.woff2') format('woff2'),
    url('/fonts/Gilroy/bold/Gilroy-Bold.woff') format('woff'),
    url('/fonts/Gilroy/bold/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
    url('/fonts/Gilroy/extrabold/Gilroy-Extrabold.woff2') format('woff2'),
    url('/fonts/Gilroy/extrabold/Gilroy-Extrabold.woff') format('woff'),
    url('/fonts/Gilroy/extrabold/Gilroy-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
