@import "resources/sass/vars/color";

body {
    background: #F3F5FA;
}

.admin-container {
    .admin-left-menu {
        top: 0;
        left: 0;
        bottom: 0;
        width: 281px;
        background: $mainColor;
        overflow-y: auto;
        .admin-left-menu-logo {
            padding: 52px 0 0 37px;
        }
        .admin-left-menu-options {
            padding-top: 80px;
            .admin-left-menu-option {
                font-size: 18px;
                color: $adminMenuColor;
                height: 70px;
                transition: 200ms all;
                background: url("/images/left-menu-active.png") no-repeat left -15px center;
                .menu-icon {
                    width: 30px;
                    height: 70px;
                    left: 40px;
                    &.home-icon {
                        background: url("/images/home-icon.png") no-repeat center;
                    }
                    &.programs-icon {
                        background: url("/images/programs-icon.png") no-repeat center;
                    }
                    &.lessons-icon {
                        background: url("/images/lessons-icon.png") no-repeat center;
                    }
                    &.coaches-icon {
                        background: url("/images/coaches-icon.png") no-repeat center;
                    }
                    &.transactions-icon {
                        background: url("/images/transactions-icon.png") no-repeat center;
                    }
                    &.users-icon {
                        background: url("/images/users-icon.png") no-repeat center;
                    }
                    &.settings-icon {
                        background: url("/images/settings-icon.png") no-repeat center;
                    }
                    &.active-icon {
                        opacity: 0;
                        &.home-icon {
                            background: url("/images/home-icon-active.png") no-repeat center;
                        }
                        &.programs-icon {
                            background: url("/images/programs-icon-active.png") no-repeat center;
                        }
                        &.lessons-icon {
                            background: url("/images/lessons-icon-active.png") no-repeat center;
                        }
                        &.coaches-icon {
                            background: url("/images/coaches-icon-active.png") no-repeat center;
                        }
                        &.transactions-icon {
                            background: url("/images/transactions-icon-active.png") no-repeat center;
                        }
                        &.users-icon {
                            background: url("/images/users-icon-active.png") no-repeat center;
                        }
                        &.settings-icon {
                            background: url("/images/settings-icon-active.png") no-repeat center;
                        }
                    }
                }
                .text {
                    padding-left: 90px;
                }
                &.active, &:hover {
                    background: url("/images/left-menu-active.png") no-repeat left 0 center;
                    color: $mainGreen;
                    .menu-icon {
                        opacity: 0;
                        &.active-icon {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    .admin-body {
        padding: 0 0 0 281px;
        .admin-content {
            padding: 58px 75px 68px 72px;
        }
    }
    .admin-title-container {
        padding-top: 70px;
    }
    .admin-title {
        color: #2B2827;
        font-size: 40px;
        &.white {
            color: #fff;
        }
    }
    .admin-title-back-link {
        padding-bottom: 25px;
        a {
            color: $mainGreen;
            font-size: 14px;
            padding-left: 15px;
            background: url("/images/admin-back.png") no-repeat left center;
        }
    }
    .admin-title-tree-dots {
        background: url("/images/vertical-dots-white.png") no-repeat center;
        width: 60px;
        .admin-title-menu {
            left: 60px;
            background: #fff;
            width: 130px;
            a {
                color: #1F1A1A;
                font-size: 16px;
                padding: 8px 10px 8px 20px;
                &:hover {
                    background: #EBEEF6;
                }
            }
        }
        &:hover {
            .admin-title-menu {
                display: block;
            }
        }
    }
    .admin-new-item {
        color: $mainGreen;
        font-size: 14px;
        height: 40px;
        border-radius: 20px;
        border: 1px solid $mainGreen;
        font-family: 'Inter', sans-serif;
        transition: 200ms all;
        padding: 0 15px;
        &:hover {
            color: $mainGreenHover;
            border: 1px solid $mainGreenHover;
        }
    }
    .admin-view-selector-container {
        padding-right: 40px;
        .admin-view-selector {
            background: #fff;
            height: 40px;
            border-radius: 7px;

            .admin-view-selector-item-container {
                width: 30px;
                height: 30px;
                margin: 5px 8px 0 8px;

                .admin-view-selector-item {
                    width: 30px;
                    height: 30px;

                    &.admin-view-selector-list {
                        background: url("/images/view-list.png") no-repeat;

                        &.active-list {
                            background: url("/images/view-list-active.png") no-repeat;
                            opacity: 0;
                        }
                    }

                    &.admin-view-selector-card {
                        background: url("/images/view-card.png") no-repeat;

                        &.active-card {
                            background: url("/images/view-card-active.png") no-repeat;
                            opacity: 0;
                        }
                    }
                }
                &:hover, &.active {
                    .admin-view-selector-list {
                        opacity: 0;
                        &.active-list {
                            opacity: 1;
                        }
                    }
                    .admin-view-selector-card {
                        opacity: 0;
                        &.active-card {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    .admin-header-bar {
        .admin-header-right {
            .admin-avatar {
                padding-left: 40px;
            }
        }
        .admin-search-bar {
            width: 80%;
            .admin-search-input {
                border: 1px solid #DBD8FC;
                border-radius: 10px;
                font-family: 'Gilroy', sans-serif;
                height: 62px;
                width: 100%;
                font-size: 15px;
                color: #7C8DB5;
                background: #fff url("/images/admin-search.png") no-repeat left 28px center;
                padding: 0 30px 0 67px;
                &.white {
                    background: rgba(255, 255, 255, 0.4) url("/images/admin-search-white.png") no-repeat left 28px center;
                    color: #fff;
                    border: 1px solid rgba(255, 255, 255, 0.4);
                }
            }
        }
    }
}

.program-list-container {
    padding-top: 20px;
}
