@import "resources/sass/general/form";
@import "resources/sass/general/button";

.admin-manage-form-container {
    padding-top: 30px;
    .admin-manage-form {
        background: #fff;
        border: 1px solid #DBD8FC;
        border-radius: 10px;
        padding: 23px 70px 40px 70px;
        .admin-manage-form-side {
            width: calc(50% - 15px);
        }
    }
}

.form-label {
    font-size: 16px;
    font-weight: 600;
}

.form-element {
    textarea {
        &.admin-big-textarea {
            height: 350px;
        }
        &.admin-small-textarea {
            height: 55px;
        }
    }
}

.form-buttons {
    padding-top: 50px;
    .form-button-content {
        padding: 0 15px;
    }
}

.upload-file-container {
    border: 1px dashed #D8D8D8;
    border-radius: 5px;
    height: 232px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    input {
        display: none;
    }
    .upload-file-content {
        background: url("/images/upload-file-icon.png") no-repeat top center;
        padding-top: 30px;
        color: #9A9A9A;
        font-size: 14px;
    }
}

.form-duration-container {
    padding-top: 30px;
    padding-bottom: 20px;
}

.ui-widget.ui-widget-content.form-duration {
    background: #EBEEF6;
    border: 0;
    height: 8px;
    border-radius: 4px;
    .form-duration-handle {
        width: 19px;
        height: 19px;
        border: 5px solid $mainGreen;
        top: -9px;
        background: #EBEEF6;
        border-radius: 50%;
        outline: none;
        span {
            position: absolute;
            top: -23px;
            color: $mainGreen;
            font-size: 14px;
            font-weight: 600;
            width: 55px;
            text-align: center;
            left: -18px;
        }
        &.error {
            border: 5px solid #D63301;
            span {
                color: #D63301;
            }
        }
    }
}
