@import "resources/sass/vars/color";
@import "resources/sass/general/data-grid";

.program-list-image-column {
    width: 80px;
}

.program-list-image {
    width: 57px;
    height: 57px;
    border-radius: 8px;
    background-size: auto 100%;
    background-position: center;
}

.program-list-link {
    color: #838690;
    font-size: 16px;
}

.plus-circle {
    width: 36px;
    height: 36px;
    border: 2px solid $mainGreen;
    font-size: 20px;
    border-radius: 50%;
    background: url("/images/plus-icon.png") no-repeat center center;
}

.add-lesson-container {
    z-index: 5;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .add-lesson-box {
        width: 500px;
        background: #F3F5FA;
        border-radius: 20px;
        .add-lesson-box-content {
            padding: 40px;
            .title {
                color: #0D1118;
                font-size: 24px;
            }
            .add-lesson-form {
                padding-top: 20px;
            }
        }
        .add-lesson-close {
            width: 22px;
            height: 22px;
            border: 2px solid #D9DBDE;
            border-radius: 50%;
            background: url("/images/close.png") no-repeat center center;
            top: 24px;
            right: 24px;
        }
        .button-container {
            padding-top: 20px;
            .button {
                height: 29px;
                background: none;
            }
        }
    }
}
