@import "resources/sass/vars/color";

.admin-container .admin-body .admin-content {
    padding: 0;
}

.program-view-header {
    background-size: contain;
    .program-view-header-bg {
        padding: 58px 75px 0 72px;
        height: 457px;
        background: linear-gradient(180deg, rgba(47, 45, 41, 0.43) 0%, #1F1D1B 100%);
        .program-view-data {
            padding-top: 40px;
            color: #fff;
            .program-view-data-top-option {
                background-position: left center;
                font-size: 14px;
                background-repeat: no-repeat;
                padding: 0 12px 0 25px;
                &.time {
                    background-image: url("/images/timer-icon.png");
                }
                &.level {
                    background-image: url("/images/level-icon.png");
                }
            }
            .program-view-data-short-description {
                padding-top: 20px;
                font-size: 18px;
                width: 70%;
            }
            .program-view-data-bottom {
                padding-top: 20px;
                .program-view-data-bottom-option {
                    font-size: 14px;
                    background: $mainGreen;
                    padding: 0 12px;
                    border-radius: 12px;
                    height: 23px;
                    margin-right: 10px;
                }
            }
        }
    }
}
.program-view-content {
    padding: 80px 75px 80px 72px;
    .program-view-description {
        .title {
            color: #0D1118;
            font-size: 32px;
        }
        .description {
            color: #0D1119;
            font-size: 18px;
            padding-top: 40px;
        }
    }
}
.program-view-lessons {
    padding: 0 75px 80px 72px;
    .title {
        color: #0D1118;
        font-size: 32px;
    }
    .lessons-list {
        padding-top: 40px;
        .first-lesson {
            width: calc(80% - 15px);
        }
        .second-lessons {
            width: calc(20% - 15px);
            .second-lesson {
                height: 50%;
                .second-lesson-content-top {
                    padding-bottom: 7px;
                    height: calc(100% - 7px);
                }
                .second-lesson-content-bottom {
                    padding-top: 7px;
                    height: calc(100% - 7px);
                }
                .second-lesson-data {
                    height: 100%;
                    border-radius: 15px;
                    background-position: top center;
                    background-size: auto 100%;
                }
            }
        }
        .other-lesson {
            margin-top: 30px;
            width: calc(50% - 15px);
        }
        .lesson-list-image {
            border-radius: 15px;
        }
        .images-lesson-overlay {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba(45, 43, 39, 0) 0%, #2D2B27 100%);
            border-radius: 15px;
        }
        .play-normal {
            width: 99px;
            height: 99px;
            background: url("/images/play-icon.png") no-repeat;
            background-size: 100%;
            &.second {
                width: 55px;
                height: 55px;
            }
            &.other {
                width: 80px;
                height: 80px;
            }
        }
        .lesson-data-top {
            top: 25px;
            left: 43px;
            &.second {
                top: 22px;
                left: 21px;
            }
            .additional-info-item {
                font-size: 12px;
                background: $mainGreen;
                padding: 0 12px;
                border-radius: 9px;
                height: 18px;
                margin-right: 10px;
                color: #fff;
            }
        }
        .lesson-data-bottom {
            left: 43px;
            bottom: 40px;
            .lesson-title {
                padding-top: 25px;
                font-size: 36px;
                color: #fff;
                border-bottom: 2px solid $mainGreen;
                display: inline-block;
            }
            .lesson-description {
                color: #CCCCCC;
                font-size: 14px;
                padding-top: 20px;
            }
            &.second {
                left: 21px;
                bottom: 33px;
                .lesson-title {
                    font-size: 20px;
                    padding-top: 0;
                }
            }
        }
        .lesson-day {
            font-size: 18px;
            background: url("/images/calendar-icon.png") no-repeat left center;
            color: #fff;
            padding-left: 31px;
        }
    }
}
